@model TaskTimer.Models.GalleryPages

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Gallery</h4>
<div class="galleryTitle">@Model.Title</div>
<div class="galleryItems">
@foreach (var image in Model.GalleryImages)
{
    <div class="galleryItem">
         <div class="galleryTopText">
            @image.TopText
        </div>
        <div class="galleryImage">
        @Html.Image("/Images/Gallery Pages/" + image.Path, "imageDescrtgbfg", new { width = "280px", height = "206px", alt = image.Alt, Title = image.Title })
            </div>
        <div class="galleryBottomText">
            @image.BottomText
        </div>
        <div class="galleryLink">
            @image.Link
        </div>
    </div>
}
</div>