@model TaskTimer.Models.EfarganPagesLanguage
<div class="languageSelection">
</div>
<table class="languageTable">
    <tr>
        <td>
            @Html.Label("Page language")
            @Html.HiddenFor(m => Model.Id)
        </td>
        <td>
            @if (Model.Id == -1)
            {
                @Html.DropDownList("SiteLanguages", TaskTimer.Areas.Admin.Models.AdminEfarganHelper.SiteLanguages, new { @class = "pageLanguages" })
            }
            else
            { 
                @Html.DropDownList("SiteLanguages",
                TaskTimer.Areas.Admin.Models.AdminEfarganHelper.GetEfarganLanguageSelectListItem(Model.EfarganLanguage.Id),
                new { @class = "pageLanguages" })
            }
        </td>
    </tr>
    <tr>
        <td>@Html.LabelFor(m => Model.MetaTag)</td>
        <td>@Html.TextBoxFor(m => Model.MetaTag)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(m => Model.DescriptionTag)</td>
        <td>@Html.TextBoxFor(m => Model.DescriptionTag)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(m => Model.TitleTag)</td>
        <td>@Html.TextBoxFor(m => Model.TitleTag)</td>
    </tr>
     <tr>
        <td>@Html.LabelFor(m => Model.MenuText)</td>
        <td>@Html.TextBoxFor(m => Model.MenuText)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(m => Model.TicketTitle)</td>
        <td>@Html.TextBoxFor(m => Model.TicketTitle)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(m => Model.TicketLinkText)</td>
        <td>@Html.TextBoxFor(m => Model.TicketLinkText)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(m => Model.TicketLinkURL)</td>
        <td>@Html.TextBoxFor(m => Model.TicketLinkURL)</td>
    </tr>
</table>
