@model TaskTimer.Models.EfarganPagesParagraphs

<tr onclick="OpenRowEditor(this,event);">
    <td>
        @Model.Id
        @Html.HiddenFor(m => Model.Id)
    </td>
    <td>
        <div style="display: none;">
            @Html.ValueFor(m => Model.ParagraphTitle)
        </div>
        @Html.TextBoxFor(m => Model.ParagraphTitle)
    </td>
    <td>
        <div style="display: none;">

            @Html.ValueFor(m => Model.ParagraphText)
        </div>
        @Html.TextBoxFor(m => Model.ParagraphText, new { @class = "TextAreaEditor" })

    </td>
    <td>
        <div style="display: none;">
            @Html.ValueFor(m => Model.ParagraphLinkText)
        </div>
        @Html.TextBoxFor(m => Model.ParagraphLinkText)</td>
    <td>
        <div style="display: none;">
            @Html.ValueFor(m => Model.ParagraphLinkURL)
        </div>
        @Html.TextBoxFor(m => Model.ParagraphLinkURL)</td>
    <td>
        @Html.ValueFor(m => Model.ParagraphImageFileName)
        @Html.HiddenFor(m => Model.ParagraphImageFileName)
        @Html.HiddenFor(m => Model.ParagraphImageURL)
        <input type="file" name="ParagraphImage_@Model.Id" />
    </td>
    <td>
        <div>
            @if (Model.Id != -1)
            {
                <input type="submit" value="Update" />
                <span>| </span>
                <span class="actionSpan" onclick="DeleteSliderData(this, @Model.Id)">Delete</span>
            }
            else
            {
                <input type="submit" value="Add new paragraph" />
            }
        </div>
    </td>
</tr>

<tr style="display: none;" onclick="CloseRowEditor(this,event);">
    <td>
        <b>@Model.Id</b>
    </td>
    <td></td>
    <td>
        @Html.TextAreaFor(m => Model.ParagraphText, new { @class = "TextAreaFor_" + Model.Id, style="width: 500px; height:150px;"})
    </td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>