@model TaskTimer.Models.GalleryImages

                <tr>
                    <td>
                        <div class="galleryImageText">Image name: @Model.Name</div>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.Alt)</td>
                    <td>@Html.TextBoxFor(m => m.Alt)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.BottomText)</td>
                    <td>@Html.TextBoxFor(m => m.BottomText)</td>
                </tr>
        