@model TaskTimer.Models.MmgtaaboraPages
<tr>
    <td>
        @Model.Id
        @Html.HiddenFor(m => Model.Id)
    </td>
    <td>
        @Html.ValueFor(m => Model.MetaTag)
    </td>
    <td>
        @Html.ValueFor(m => Model.TitleTag)
    </td>
    <td>
        @Html.ValueFor(m => Model.DescriptionTag)
    </td>
    <td>
        <div>
            @if (Model.Id != -1)
            {
                @Html.ActionLink("Site", "Index", "Index", new { area = "mmgtaabora.com", id = Model.Id }, new { target = "_blank" })
                <span>| </span>
                @Html.ActionLink("Edit", "PagesEdit", "AdminMmgtaabora", new { id = Model.Id }, null)
                <span>| </span>
                <span class="actionSpan" onclick="DeleteSliderData(this, @Model.Id)">Delete</span>
            }
            else
            {
                <input type="submit" value="Add new slider" />
            }
        </div>
    </td>
</tr>
