@model  TaskTimer.Areas.Admin.Controllers.qwer11

    <td>@Html.LabelFor(m => m.alt)</td>
                <td>@Html.TextBoxFor(m => m.alt)</td>
    <td>@Html.LabelFor(m => m.name)</td>
                <td>@Html.TextBoxFor(m => m.name)</td>
@*    <td>@Html.LabelFor(m => m.date)</td>
                <td>@Html.TextBoxFor(m => m.date)</td>*@


