@model TaskTimer.Models.EfarganPagesLanguage
@{
    ViewBag.Title = "IndexLng";
    Layout = "~/Areas/Efargan.co.il/Views/Shared/_Layout.cshtml";
}
<link href="~/Areas/Efargan.co.il/Content/JS/jcarousel/jcarousel.basic.css" rel="stylesheet" />
<script src="~/Areas/Efargan.co.il/Content/JS/jcarousel/jquery.js"></script>
<script src="~/Areas/Efargan.co.il/Content/JS/jcarousel/jquery.jcarousel.min.js"></script>
<script src="~/Areas/Efargan.co.il/Content/JS/jquery.autoScroller.js"></script>
<script src="~/Areas/Efargan.co.il/Content/JS/jquery.timers.js"></script>

@*<link href="~/Areas/Efargan.co.il/Content/JS/jcarousel/jcarousel.basic.min.css" rel="stylesheet" />
<script src="~/Areas/Efargan.co.il/Content/JS/jcarousel/jquery.min.js"></script>
<script src="~/Areas/Efargan.co.il/Content/JS/jcarousel/jquery.jcarousel.min.js"></script>
<script src="~/Areas/Efargan.co.il/Content/JS/jquery.autoScroller.min.js"></script>
<script src="~/Areas/Efargan.co.il/Content/JS/jquery.timers.min.js"></script>*@

<script type="text/javascript">
    (function ($) {
        $(function () {
            $('.jcarousel').jcarousel({
                rtl: true,
                start: 1,
                offset: 1,
                scroll: 1,
                wrap: "both"
            });
            $('.jcarousel-control-prev')
                .on('active.jcarouselcontrol', function () {
                    $(this).removeClass('inactive');
                })
                .on('inactive.jcarouselcontrol', function () {
                    $(this).addClass('inactive');
                })
                .jcarouselControl({
                    target: '-=1'
                });
            $('.jcarousel-control-next')
                .on('active.jcarouselcontrol', function () {
                    $(this).removeClass('inactive');
                })
                .on('inactive.jcarouselcontrol', function () {
                    $(this).addClass('inactive');
                })
                .jcarouselControl({
                    target: '+=1'
                });
            $('.jcarousel-pagination')
                .on('active.jcarouselpagination', 'a', function () {
                    $(this).addClass('active');
                })
                .on('inactive.jcarouselpagination', 'a', function () {
                    $(this).removeClass('active');
                })
                .jcarouselPagination();
            //add auto scroller to news
            autoScroller('bottomTicketItems', '1');
        });
    })(jQuery);
</script>


<div class="middleSlider">
    <div class="jcarousel-wrapper">
        <div class="jcarousel" data-jcarousel="true">
            <ul style="left: -3000px; top: 0px;">
                @foreach (var slider in Model.EfarganPagesSliders)
                {
                    <li>
                        @if (string.IsNullOrEmpty(slider.SliderImageURL))
                        { 
                            <img src="~/Areas/Efargan.co.il/Content/Images/sliderBG2.png" width="698" height="301" alt="" />
                        }
                        else
                        { 
                            <img src="~/@slider.SliderImageURL" width="698" height="301" alt="" />
                        }
                        <div class="sliderTextDiv">
                            <div class="sliderTitle">@slider.SliderTitle</div>
                            <div class="sliderText">@slider.SliderText</div>
                            <div class="sliderLink"><a href="@slider.SliderLinkURL">@slider.SliderLinkText</a></div>
                        </div>
                    </li>
                }
            </ul>
        </div>
        <p class="photo-credits">
            @*Photos by <a href="http://www.mw-fotografie.de">Marc Wiegelmann</a>*@
        </p>
        <a href="#" class="jcarousel-control-prev" data-jcarouselcontrol="true">‹</a>
        <a href="#" class="jcarousel-control-next inactive" data-jcarouselcontrol="true">›</a>
        <p class="jcarousel-pagination" data-jcarouselpagination="true"><a href="#1" class="">1</a><a href="#2" class="">2</a><a href="#3" class="">3</a><a href="#4" class="">4</a><a href="#5" class="">5</a><a href="#6" class="active">6</a></p>
    </div>
</div>

<div class="bottomPharagraps">
    @foreach (var item in Model.EfarganPagesParagraphs)
    {
        <div class="pharagraph">
            <div class="pharagraphImage">
                <img src="~/@item.ParagraphImageURL" alt="" width="85" height="85"/>
            </div>
            <div class="pharagraphTitle">
                @item.ParagraphTitle
            </div>
            <div class="pharagraphText">
                @item.ParagraphText
            </div>
            <div class="pharagraphLink">
                <a href="@item.ParagraphLinkURL">@item.ParagraphLinkText</a>
            </div>
        </div>
    }
</div>
<div class="bottomTicketBorder">
    <div class="bottomTicket">
        <div class="bottomTicketTitle">@Model.TicketTitle</div>
        <div class="bottomTicketContent">
            <div class="bottomTicketItems" id="bottomTicketItems">
                @foreach (var item in Model.EfarganPagesTickers)
                {
                    <h3 class="ticketTitle">@item.TickerTitle</h3>
                    <p class="ticketText">
                        @item.TickerText
                        <div class="ticketLink">
                            <a href="@item.TickerLinkURL">@item.TickerLinkText</a>
                        </div>
                    </p>
                }
            </div>
        </div>
        <div class="bottomTicketLink">
            <a href="@Model.TicketLinkURL" >@Model.TicketLinkText</a>
        </div>
    </div>
</div>

