@model TaskTimer.Models.ChangePasswordModel

@{
    ViewBag.Title = @Resources.Views.Account.Strings.ChangePassword;
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@Resources.Views.Account.Strings.UseThisFormToChangeYourPassword</h2>
</hgroup>

<p class="message-info">
    @String.Format(Resources.Views.Account.Strings.PasswordsMustBeAtLeast, @Membership.MinRequiredPasswordLength)
</p>

@using (Html.BeginForm()) {
    @Html.ValidationSummary()

    <fieldset>
        <legend>Change Password Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.OldPassword)
                @Html.PasswordFor(m => m.OldPassword)                
            </li>
            <li>
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword)                
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)                
            </li>
        </ol>
        <input type="submit" value="@Resources.Views.Account.Strings.ChangePassword" />
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
