@model TaskTimer.Models.SiteMainPages

@{
    ViewBag.Title = "SitePagesAddNew";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Add new site page</h2>

@*<div id="addNewPage"> </div>*@
@using (Html.BeginForm("SitePagesAddNew", "AdminHome", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary()

    <fieldset class="addNewSitePage">
        <legend>New Page Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.MetaTag)
                @Html.TextBoxFor(m => m.MetaTag)
            </li>
            <li>
                @Html.LabelFor(m => m.DescriptionTag)
                @Html.TextBoxFor(m => m.DescriptionTag)
            </li>
            <li>
                @Html.LabelFor(m => m.TitleTag)
                @Html.TextBoxFor(m => m.TitleTag)
            </li>
            <li>
                @Html.LabelFor(m => m.Title)
                @Html.TextBoxFor(m => m.Title)
            </li>
            <li>
                @Html.LabelFor(m => m.TitleImage)
                <input type="file" name="TitleImage" />
            @*    @FileUpload.GetHtml(
                    initialNumberOfFiles:1,
                    allowMoreFilesToBeAdded:false,
                    includeFormTag:true,
                    uploadText:"Upload")*@
            </li>
            <li>
                @Html.LabelFor(m => m.Body)
                @Html.TextAreaFor(m => m.Body)
            </li>
            <li>
                @Html.LabelFor(m => m.BodyImage)
                 <input type="file" name="BodyImage" />
            </li>
            <li>
                @Html.LabelFor(m => m.Footer)
                @Html.TextBoxFor(m => m.Footer)
            </li>
            <li>
                @Html.LabelFor(m => m.FooterImage)
                <input type="file" name="FooterImage" />
            </li>
@*            <li>
                @Html.CheckBoxFor(m => m.IsEmailRegConform)
                @Html.LabelFor(m => m.IsEmailRegConform, new { style = "display: inline-block;" })
            </li>*@
        </ol>
        <input type="submit" value="Save new page" />
    </fieldset>
}
