@using MvcSiteMapProvider.Web.Html
@using MvcSiteMapProvider.Web.Html.Models
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render(
        "~/Content/themes/base/jquery.ui.all.css",
        "~/Areas/Efargan.co.il/Content/efargan.css"
        )
    @if (ViewBag.PageLng != "HE")
    { 
      @Styles.Render(
        "~/Areas/Efargan.co.il/Content/efarganLTR.css"
        )
    }
    @Scripts.Render("~/bundles/modernizr",
        "~/Scripts/jquery-1.6.2.js",
        "~/Scripts/jquery-ui-1.8.11.js",
        "~/Scripts/jquery.unobtrusive-ajax.js",
        "~/Scripts/jquery.validate.js",
        "~/Scripts/jquery.validate.unobtrusive.js"
        )
    <script type="text/javascript">
        $(function () {
            //search field focus
            $('.searchFieldInput').focus(function () {
                var el = $(this);
                if (el.val() == "חיפוש")
                    el.val("");
            }).focusout(function () {
                var el = $(this);
                if (el.val() == null || el.val() == "")
                    el.val("חיפוש");
            });
        });
        function SiteSearch() {
            var key = $('.searchFieldInput').val();
            $.ajax({
                url: '../SiteSearch',
                type: 'POST',
                data: { key: key },
                success: function (result) {
                    debugger;
                    $('#body').html(result);
                }
            });
        }
    </script>
</head>
<body>
    @*FaceBook button*@
    <div id="fb-root"></div>
    <script>(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/ru_RU/all.js#xfbml=1&appId=580743358639301";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
@*Page HTML*@
<header>
        <div class="topLine">
            <div class="languageSelect">
                <span class="selected">@Html.ActionLink("עברית", "Index", new { lng = "HE" })</span>
                |
                <span>@Html.ActionLink("english", "Index", new { lng = "ENG" })</span>
            </div>
            <div class="searchField">
                <div class="searchFieldButton" onclick="SiteSearch();"></div>
                <input type="text" class="searchFieldInput" value="חיפוש"/>
            </div>
            <div class="fbButton">
            <div class="fb-like" data-href="http://dirot.somee.com/" data-width="450" data-layout="button_count" data-show-faces="true" data-send="false"></div>
                </div>
        </div>
        <div class="headerBG"></div>
        @Html.Action("_MainMenu", new { lng = ViewBag.PageLng })
    </header>
    <div id="body">
        @*@Html.MvcSiteMap("AdminMvcSiteMapProvider").Menu(false, true, true)*@
@RenderBody()
</div>
    <footer>
        <div class="line"></div>
        <div>
            <div class="floatRight">הרב חיים עמרם איפרגן</div>
            <div class="floatLeft">כל הזכויות שמורות 2013 ©</div>
            <div class="footerMenuDiv">
                <ul class="footerMenu">
                    <li class="menuTopItem">
                        <div class="menuDrop">@Html.ActionLink("דפ הבית", "Index", "Pages")</div>
                    </li>
                    <li class="menuTopItem">
                        <div class="menuDrop">@Html.ActionLink("אודות", "Index", "Pages")</div>
                    </li>
                    <li class="menuTopItem">
                        <div class="menuDrop">@Html.ActionLink("אירועים", "Index", "Pages")</div>
                    </li>
                    <li class="menuTopItem">
                        <div class="menuDrop">@Html.ActionLink("אירועים", "Index", "Pages")</div>
                    </li>
                    <li class="menuTopItem">
                        <div class="menuDrop">@Html.ActionLink("אירועים", "Index", "Pages")</div>
                    </li>
                    <li class="menuTopItem">
                        <div class="menuDrop">@Html.ActionLink("אירועים", "Index", "Pages")</div>
                    </li>
                    <li class="menuTopItem">
                        <div class="menuDrop">@Html.ActionLink("אירועים", "Index", "Pages")</div>
                    </li>
                    <li class="menuTopItem">
                        <div class="menuDrop">@Html.ActionLink("אירועים", "Index", "Pages")</div>
                    </li>
                    <li class="menuTopItem">
                        <div class="menuDrop">@Html.ActionLink("אירועים", "Index", "Pages")</div>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
    <div id="OpenDialogDiv"></div>
</body>
</html>
